@font-face {
    font-family: 'pt-serif';
    src: url(../font/ptserif-regular-webfont.woff2)format('woff2');
}

.header .judul{
    font-family: 'pt-serif', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    letter-spacing: -0.045em;
    line-height: 47.7px;
    position: absolute;
    width: 278px;
    height: 47px;
    top: 110px;
    left: 243px;
}

@font-face {
    font-family: 'poppins';
    src: url(../font/poppins-regular-webfont.woff2)format('woff2');
}

.subjudul{
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    line-height: 27px;
    position: absolute;
    width: 117px;
    height: 27px;
    top: 110px;
    left: 736px;
}

.utama{
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 27px;
    position: absolute;
    width: 439px;
    height: 87px;
    top: 147px;
    left: 736px;
}

.container{
    width: 850px;
    height: 990px;
    margin: 245px auto;
    border: 5px solid black;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.container .satu{
    grid-area: bill;
}

.container .dua{
    grid-area: saba;
}

.container .tiga{
    grid-area: shae;
}

.container .empat{
    grid-area: skylah;
}

.container .lima{
    grid-area: griff;
}

.container .enam{
    grid-area: stan;
}

b{
    font-family: 'poppins';
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

p{
    font-family: 'pt-serif';
    color: #000000;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.9px;
    transform: rotate(90deg);
}

.name .satu b{
    width: 117px;
    height: 27px;
    position: absolute;
    top: 686px;
    left: 240px;
}

.name .satu p{
    width: 102px;
    height: 16px;
    position: absolute;
    top: 330px;
    left: 504px;
}

.name .dua b{
    width: 135px;
    height: 27px;
    position: absolute;
    top: 791px;
    left: 571px;
}

.name .dua p{
    width: 90px;
    height: 16px;
    position: absolute;
    top: 429px;
    left: 835px;
}

.name .tiga b{
    width: 75px;
    height: 27px;
    position: absolute;
    top: 686px;
    left: 901px;
}

.name .tiga p{
    width: 65px;
    height: 16px;
    position: absolute;
    top: 330px;
    left: 1165px;
}

.name .empat b{
    width: 86px;
    height: 27px;
    position: absolute;
    top: 1201px;
    left: 241px;
}

.name .empat p{
    width: 77px;
    height: 16px;
    position: absolute;
    top: 845px;
    left: 504px;
}

.name .lima b{
    width: 129px;
    height: 27px;
    position: absolute;
    top: 1306px;
    left: 571px;
}

.name .lima p{
    width: 68px;
    height: 16px;
    position: absolute;
    top: 944px;
    left: 835px;
}

.name .enam b{
    width: 97px;
    height: 27px;
    position: absolute;
    top: 1201px;
    left: 902px;
}

.name .enam p{
    width: 76px;
    height: 16px;
    position: absolute;
    top: 845px;
    left: 1165px;
}

@font-face {
    font-family: 'montserrat';
    src: url(../font/montserratalternates-light-webfont.woff2)format('woff');
}

.footer{
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #a9a9a9;
    line-height: 17.07px;
    text-align: center;
    position: absolute;
    width: 500px;
    height: 17px;
    top: 1448px;
    left: 445px;
}

