@font-face {
    font-family: 'pt-serif';
    src: url(../font/ptserif-regular-webfont.woff2)format('woff2');
}

@font-face {
    font-family: 'poppins';
    src: url(../font/poppins-regular-webfont.woff2)format('woff2');
}

@font-face {
    font-family: 'montserrat';
    src: url(../font/montserratalternates-light-webfont.woff2)format('woff');
}

.container{
    width: 1000px;
    height: 1000px;
    border: 5px solid black;
    margin: 50px auto;
}